.JoinUsIntro_Main_Div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 21, 132);
    animation: left-in 0.8s;
    padding-top: 10px;
    padding-bottom: 10px;
}
.JoinUsIntro_Main_Div .Left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding-left: 12%;
}
.JoinUsIntro_Main_Div .Left .Title{
    color: rgba(255, 255, 255, 0.796);
    font-size: 50px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;

}
.JoinUsIntro_Main_Div article{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}
.JoinUsIntro_Main_Div .Left p{
    color: rgb(255, 252, 246);
    font-size: 20px;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.JoinUsIntro_Main_Div .Left .UpcomingEvent_btn{
    transition: 0.2s;
    width: 300px;
    height: 60px;
    border: 0;
    margin-top: 30px;
    color: aliceblue;
    font-weight: 200;
    font-size: 20px;
    background-color: rgb(255, 87, 135);
}
.JoinUsIntro_Main_Div .Left .UpcomingEvent_btn:hover{
    transition: 0.2s;
    background-color: rgb(253, 133, 171);
    color: rgba(240, 248, 255, 0.489);
}
.JoinUsIntro_Main_Div .Right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
}
.JoinUsIntro_Main_Div .Right img{
    width: 45%;
    height: auto;
}
@media screen and (max-width: 600px){
    .JoinUsIntro_Main_Div{
        flex-direction: column-reverse;
        padding-top: 20px;
        gap: 10px;
        
        
    }
    .JoinUsIntro_Main_Div .Left{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 0px;
    
    }
    .JoinUsIntro_Main_Div .Left p{
        font-size: medium;
    }
    .JoinUsIntro_Main_Div .Right{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 5px;
    
    }
    .JoinUsIntro_Main_Div .Right img{
        width: 43%;
        height: 140px;
        object-fit: cover;
        border-radius: 10px;
        opacity: 0.9;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .JoinUsIntro_Main_Div article{
        width: 90%;
    }
    .JoinUsIntro_Main_Div  .Left .Title{
        font-size: 40px;
    }
}